
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="introduction" class="tm-section-pad-top">
    <div class="container">
        <div class="row">
            <div class="row tm-section-pad-top">
                <div class="col-lg-4">
                    <i class="fas fa-4x fa-bus text-center tm-icon"></i>
                    <h4 class="text-center tm-text-primary mb-4">Curabitur at elit eu risus</h4>
                    <p>
                        Sed ultrices sit amet mi eu malesuada. Cras ultricies gravida
                        nisi, ac pellentesque nunc tincidunt quis. Aenean at ornare lacus.
                        Duis imperdiet lacus justo.
                    </p>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <i class="fas fa-4x fa-bicycle text-center tm-icon"></i>
                    <h4 class="text-center tm-text-primary mb-4">Nunc sed metus vel nisi</h4>
                    <p>
                        Praesent ut finibus leo. Duis et tempus ipsum, id pretium nunc.
                        Vivamus imperdiet sem quis orci pharetra convallis. Nunc a tempus
                        nisi, sed fringilla purus. In hac habitasse platea.
                    </p>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <i class="fas fa-4x fa-city text-center tm-icon"></i>
                    <h4 class="text-center tm-text-primary mb-4">Fusce sed nisi sagittis</h4>
                    <p>
                        Donec vestibulum libero nisl. Curabitur ac orci ac lorem blandit
                        volutpat. Sed ac sodales nibh, ut porttitor elit. Sed id dui mi.
                        Vestibulum ante ipsum primis in faucibus.
                    </p>
                </div>
            </div>
        </div>
     </div>
</section>