
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="contact" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-container-contact">
        <div class="row">
            
            
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
                <form action="" method="post">
                    <input name="email" type="email" placeholder="email" class="tm-input" required />
                    <input name="Password" type="password" placeholder="password" class="tm-input" required />
                    <br /><button type="submit" class="btn tm-btn-submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    </section>

    @*<form action="home" method="post">

            user name<input type="text" name="name" />
            password <input type="text" name="password" />
            <input type="submit" value="login" />login
        </form>*@
